---
layout: default
---

<div class="About Background--light">
    <div class="container">
        {% include menu.html color="light" %}
        <div class="color-inner color-inner--first">
            <section class="row">
                <div class="col-lg-5 About__me order-lg-2">
                    <img class="About__me__img" src="/images/me.png" alt="Développeur et Designer ! Et surtout passionnée">
                </div>
                <div class="col-lg-7 order-lg-1">
                    <h1 class="Title Title--n1">À propos</h1>
                    <p>Hello, moi c'est Romaric ! Je suis un vrai passionné d'informatique.</p>                
                    <p>Je crée des applications web et mobile pour les petites entreprises en recherche de solution.</p>
                    <p>Spécialisé dans le développement, j’accompagne aussi ces entreprises en recherche et conception d’expérience utilisateur ainsi qu’en design d’interface.</p>
                    <p>Venez discuter de votre projet, je serais ravi de vous répondre !</p>
                </div>
            </section>
            <section>
                <h2 class="Title Title--n1">Mon parcours</h2>
                <p>
                    C'est vers mes 15 ans j'ai découvert la programmation. À ce moment, je développais des serveurs de jeu en JAVA. Passionné, j'ai donc décidé de m'orienter vers un bac STI2D, dont j'avais bien connaissance grâce à mon option SI de seconde, bien plus tournée vers la pratique qu'bac un S.
                    <br><br>
                    J'ai donc obtenue mon bac avec une mention très bien avec un 20/20 à mon projet de fin d'année; Une application web de contrôle à distance d’un <a href="/projects/ecroc">distributeur de nourriture automatique</a>
                    <br><br>
                    Déjà bien lancée, je dois donc faire le choix entre d'un côté le DUT Informatique, et de l'autre le DUT MMI. Le DUT MMI de Bordeaux, vendu comme le DUT orienté projet me motive plus que tout. Je décide de me lancer dans l'aventure pour acquérir un maximum de compétence dans tous les domaines. C’est à ce moment que je décide de proposer mes services de développement web dès le début de ma première année.
                </p>
            </section>
            <section>
                <h2 class="Title Title--n1">Freelance, mais aussi étudiant</h2>
                <p>
                    Je suis actuellement en première année d'école d'ingénieurs, l'Ecole National Supérieur de Cognatique à Bordeaux.
                    <br><br>
                    Pourquoi cette école ?
                </p>
                <ul>
                    <li>Apprendre à connaitre les vrais besoins des usagées</li>
                    <li>Créer des superbes expériences utilisateurs</li>
                    <li>Partager des connaissances avec des personnes d’autres parcours et expertises</li>
                    <li>Participer à construction de projets innovants</li>
                    <li>Me former à l’intelligence artificielle et à la Data Science</li>
                </ul>
            </section>
        </div>
    </div>
    <div class="Background--dark">
        <div class="container">
            <div class="color-inner">
                <section class="About__experiences">
                    <h2 class="Title Title--n1">Expérience<br>en entreprise</h2>
                    <div class="row">
                        <div class="About__experiences__experience col-lg-6">
                            <h3 class="Title Title--n2">Dunforce, application de gestion de facture pour les entreprises</h3>
                            <h4 class="Title Title--n3">Developpement front-end</h4>
                            <img class="About__experiences__experience__image" src="/images/dunforce.png" alt="" srcset="">
                            <p>
                                <ul>
                                    <li>Développement de plusieurs pages (React.js/Sass)</li>
                                    <li>Test (Jest)</li>
                                    <li>Récupération des données depuis une API REST</li>
                                    <li>Grande sensibilité à la dette technique</li>
                                </ul>
                            </p>
                            <a target="_blank" href="https://www.dunforce.com/" class="Button Button--line">Voir le site</a>
                        </div>
                        <div class="About__experiences__experience col-lg-6">
                            <h3 class="Title Title--n2">Boaton, la 1ère application gratuite pour gérer votre bateau de A à Z</h3>
                            <h4 class="Title Title--n3">SEO et développement fullstack</h4>
                            <img class="About__experiences__experience__image" src="/images/boaton.png" alt="" srcset="">
                            <p>
                                <ul>
                                    <li>Amélioration du référencement naturel</li>
                                    <li>Création d'un système de langue</li>
                                    <li>Intégration d'un système d'auto-complétion d'adresse</li>
                                    <li>Ajout de nouvelles fonctionnalités au carnet d'entretien</li>
                                    <li>Création d'une nouvelle landing page</li>
                                </ul>
                            </p>
                            <a target="_blank" href="https://www.boaton.fr/fr/" class="Button Button--line">Voir le site</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="Background--light">
        <div class="container">
            <div class="color-inner">
                <section class="About__cv">
                    <h2 class="Title Title--n1">Mon CV</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <img class="About__cv__image" src="/images/CV - Romaric Gauzi 2022.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>