---
layout: default
---

<div class="Home">
    <div class="container">
        {% include menu.html color="dark" %}
        <div class="Slider" id="slider">
            {% for pin_hash in site.data.pin %}
            {% assign pin = pin_hash[1] %}
                {%- include slide.html pin=pin -%}
            {% endfor %}
        </div>
        <div class="Home__footer">
            <ul class="Home__footer__sliderinfo" id="slider-nav">
                {% for pin_hash in site.data.pin %}
                    {% assign pin = pin_hash[1] %}
                    <li class="Home__footer__sliderinfo__item">
                        <a href="#">
                            <p class="Home__footer__sliderinfo__item__year">{{ pin.date.year }}</p>
                            <p class="Home__footer__sliderinfo__item__month">{{ pin.date.month }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="Cursor" id="cursor"><span class="Cursor__inner"></span></div>
    <script src="{{ "/assets/js/slide.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/cursor.js" | relative_url }}"></script>
</div>