<footer class="Footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 Footer__column">
                <p class="Footer__column__title">Explorer</p>
                <p class="Footer__column__item"><a href="">Home</a></p>
                <p class="Footer__column__item"><a href="">À propos</a></p>
                <p class="Footer__column__item"><a href="">Mes projets</a></p>
            </div>
            <div class="col-md-2 Footer__column">
                <p class="Footer__column__title">Compétences</p>
                <p class="Footer__column__item"><a href="">Serveur</a></p>
                <p class="Footer__column__item"><a href="">Web</a></p>
                <p class="Footer__column__item"><a href="">Mobile</a></p>
                <p class="Footer__column__item"><a href="">SEO</a></p>
                <p class="Footer__column__item"><a href="">Accessibilité</a></p>
                <p class="Footer__column__item"><a href="">UI/UX</a></p>
            </div>
            <div class="col-md-6 Footer__column Footer__column--right">
                <p class="Footer__column__title">Contactez-moi</p>
                <p class="Footer__column__item">07 83 06 62 31</p>
                <p class="Footer__column__item"><a href="">contact@romaricgauzi.com</a></p>
                <p class="Footer__column__title">Mes reseaux</p>
            </div>
        </div>
    </div>
</footer>