@import "bootstrap/scss/bootstrap-grid";

@import "variables";

/* Pages */

@import "home";
@import "about";
@import "projects";
@import "project";
@import "page404";

/* Includes */

@import "menu";
@import "footer";
@import "project-preview";
@import "app-design-section";
@import "slide";


/* Components */

@import "button";
@import "slider";


body, html {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.Title {
    &--n1 {
        font-weight: 600;
        font-size: 48px;
        margin: 0 0 30px 0;
    }

    &--n2 {
        font-weight: 500;
        font-size: 28px;
        margin: 15px 0; 
    }

    &--n3 {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }
}

section {
    padding: 0 0 70px 0;
    
    p {
        font-size: 18px;
    }
}

.color-inner {
    padding: 60px 0;

    @include media-breakpoint-down(lg) {
        &--first {
            padding-top: 0;
        }
    }
}


@include media-breakpoint-down(lg) {
    .About {
        &__me {
            position: relative;
            padding: 0;
    
            &__img {
                position: relative;
                top: 0;
                left: 0;right: 0;bottom: 0;
                width: 100%;
            }
        }
    }
}

.Background {

    &--light {
        color: $primary;
        background-color: $backgroundlight;
    }

    &--dark {
        background-color: $primary;
        color: $light;

        .Title {
            color: $white;
        }
    }
}

a {
    color: inherit;
}